{% extends 'layout.html' %}
{% block content %}
    <div>
        <p>Add an item down below:</p>
    </div>

    <div class="form">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.name.label }}       {{ form.name }}
            <br>
            {{ form.quantity.label }}      {{ form.quantity }}
            <br>
            {{ form.age_restriction.label }}      {{ form.age_restriction }}
            <br>
            {{ form.submit }}
            <br>
        </form>
    </div>
{% endblock content %}