{% extends 'layout.html' %}
{% block content %}
    <div>
        <h4>
            Use this app to create a personalised shopping list!
        </h4>
    </div>
    <d>
        <b>See actions below:</b>
        <br><br>
    </d>
    <d>
        <li>View your shopping lists</li><br>
        <li>Add a new item to a list</li><br>
        <li>Update an item in a list</li><br>
        <li>Add a new list</li><br>
        <li>Delete an existing item from a list</li><br>
        <li>Delete an existing list</li>
    </d>
{% endblock content %}