<html>
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Shopping List App</title>
        {% endif %}
    </head>

    <h1>
        Shopping List App
    </h1>
    <body>
        <div>
            <a href="{{ url_for('read') }}">View shopping lists</a> ||
            <a href="{{ url_for('add_list') }}">Add list</a> ||
            <a href="{{ url_for('add_item') }}">Add item</a>
        </div>

        {% block content %}{% endblock content %}
    </body>
</html>