<html>
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Shopping List App</title>
        {% endif %}
    </head>

    <h1>
        Shopping List App
    </h1>
    <body>
        <div>
            <a href="{{ url_for('home') }}">Home</a> 
            <a href="{{ url_for('add_item') }}">Add item(s)</a>
            <a href="{{ url_for('add_list') }}">Add list(s)</a>
            <a href="{{ url_for('update_item') }}">Update item(s)</a>
            <a href="{{ url_for('update_list') }}">Update list(s)</a>
            <a href="{{ url_for('delete_item') }}">Delete item(s)</a>
            <a href="{{ url_for('delete_list') }}">Delete list(s)</a>

        </div>

        {% block content %}{% endblock content %}
    </body>
</html>